@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap%27');
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
.header{
    font-family: 'Jockey One', sans-serif;
    font-size: 25px;
}
.link{
    text-decoration: none;
    color:black;
}
.link-cart{
  text-decoration: none;
  color:black;
  padding-right:4rem;
}
.link:hover{
    text-shadow: #EEEEEE;
    
}
.cart-logo{
  color:#20D1CB;
}
.userdata{
  display: flex;
  align-items: center;
}
.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color:#ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0rem 0rem 0rem 1rem;
}
/* Style The Dropdown Button */
.dropbtn {
    all:unset;
    background-color: #828282;
    display: flex;
    justify-content: space-between;
    align-items: center;
    object-fit:cover;
    background-size:cover;
    margin: 0.5rem 6rem 0.5rem 0.5rem;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    cursor: pointer;
  }
  .dropbtn-nouser{
    all:unset;
    display: flex;
    justify-content:center;
    align-items: center;
    object-fit:cover;
    background-size:cover;
    margin: 0.5rem 6rem 0.5rem 0.5rem;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    font-size: 20px;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    color:#828282;
    background-color: #f9f9f9;
    margin-right: 6rem;
  }
  .login-sign{
    padding-right: 2rem;
    font-size: 25px;
  }
  .logo-link{
    padding-left: 4rem;
  }