:root {
  --bg-light-gray: #f3f4f4;
  --bg-dark-gray: #e0f9f8;
  --icon-color: #20d1cb;
  --danger-color: rgba(219, 49, 49, 1);
  --success-color: #14a44d;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}
.search-input {
  width: 78%;
  padding: 1em;
  font-size: 1em;
  background-color: var(--bg-dark-gray);
  border-radius: 7px;
  border: 1px solid;
}
